# Configuration file for Lathe Control.
# For mill:
#   Axis1 = X Axis
#   Axis2 = (disabled)

Axis1GpioStepPin = 8
Axis1GpioReversePin = 7
Axis1GpioEnablePin = 0
Axis1StepsPerRev = 1000
Axis1ConversionNumerator = -1
Axis1ConversionDivisor = 1000
Axis1MaxMotorSpeed = 640
Axis1BacklashCompensationSteps = 380

# These are used to make the program suitable
# to control an X-axis on the mill. Axis1
# (the main axis, Z, on the lathe, can be renamed
# to X, and the RPM and Axis2 can be hidden.
DisableAxis1 = false
DisableAxis2 = true
DisableRpm = true
Axis1Label = X
Axis2Label = -
# Axis Leader keys are specified by ASCII number
# Don't forget to use the lower case version
# unless you have good reason not to
Axis1Leader = 120
Axis2Leader = 0